/* LoginForm.module.css */

/* Login Box */
.loginContainer {
  display: flex;
  justify-content: space-between;
}

.loginBox {
  width: 40%;
  background-color: #d5d4d0;
  padding: 20px;
  border-radius: 10px;
  color: #000;
  margin-right: 20px;
}

.loginBoxHeading {
  font-weight: bold;
}

/* Join Box */
.joinBox {
  width: 60%;
  background-color: #d5d4d0;
  padding: 20px;
  border-radius: 10px;
  color: #000;
  margin-left: 20px;
  text-align: left;
}

.joinBox h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
}

.joinButtonContainer {
  display: flex;
  justify-content: center;
}

.joinBox p {
  margin-top: 10px;
  text-align: left;
}

.joinBox ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 10px;
  text-align: left;
}

.joinButton {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff5733;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.joinButton:hover {
  background-color: #ff3e00;
}

/* Input Field and Show Password Button */
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

.passwordInputGroup {
  display: flex;
  align-items: center;
}

.eyeIcon {
  cursor: pointer;
  color: #ddd;
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

/* Forgot Password Link */
.forgotPassword {
  text-align: right;
  margin-top: 10px;
}

.forgotPassword a {
  color: #ddd;
  text-decoration: none;
}

.forgotPassword a:hover {
  text-decoration: underline;
}

/* Login Button */
.loginButton {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #ff5733;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #ff3e00;
}

/* Mobile-Responsive Styles */
@media screen and (max-width: 767px) {
  .loginContainer {
    display: flex;
    flex-direction: column; /* Change the direction to vertical */
    align-items: center; /* Center the items horizontally */
  }

  .loginBox,
  .joinBox {
    width: 80%; /* Adjust the width to take a portion of the screen on mobile */
    margin: 10px 0; /* Add margin to create space between the boxes vertically */
    padding: 20px; /* Add padding to both boxes */
  }

  .joinBox ul {
    list-style-type: disc;
    margin-left: 20px; /* Indent the list items on mobile */
  }
}