.appBarBackground {
    /* Starting with a light blue background */
    background: linear-gradient(to right, #0e1778, #af0fb5 80%);

    /* Set relative positioning for the triangles */
    position: relative;
}

.appBarBackground::before,
.appBarBackground::after {
    /* Setting up triangle shapes using borders */
    content: '';
    position: absolute;
    top: 0;
    bottom: 10;
    right: 40;
    width: 10;
    border-left: 30% solid transparent;
}

.appBarBackground::before {
    /* Pink triangle */
    background: linear-gradient(to bottom right, transparent 50%, #62176a 50%);
    border-left-width: 10%;
    right: 10%;
}

.appBarBackground::after {
    /* Red triangle */
    background: linear-gradient(to top right, transparent 50%, #ff4500 50%);
    border-left-width: 20%;
}
