.headerSection {
    background-image: url(https://d3uscstcbhvk7k.cloudfront.net/static/images/homepagehero_01.jpg);
    background-size: cover;
    color: white;
    text-align: left;
    padding: 100px 50px;
    border-radius: 15px;
  }
  
  .headerTitle {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .headerSubtitle {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
  